<div class="container-fluid m-0 p-0" style="height: 100vh">
  <!-- <app-lesson1></app-lesson1> -->
  <!-- <app-lesson2></app-lesson2> -->


  <!-- <app-lesson3> -->
  <!--     <h1>Tag from app component</h1> -->
  <!-- </app-lesson3> -->

  <!-- <app-lesson3 [childMessage]="parentMessage"> -->
  <!--     <div class="row g-2"> -->
  <!--         <div class="col-8"> -->
  <!--             <input id="parentMessage" class="form-control" type="text"> -->
  <!--         </div> -->
  <!--         <div class="col-4"> -->
  <!--             <button class="form-control btn btn-primary" (click)="send()">Send</button> -->
  <!--         </div> -->
  <!--     </div> -->
  <!-- </app-lesson3> -->


  <!-- <div class="container-fluid bg-success h-50 d-flex align-items-center"> -->
  <!--     <app-lesson3 class="w-100" (outputData)="receiveDataFromBelow($event)"></app-lesson3> -->
  <!-- </div> -->
  <!-- <div class="container-fluid bg-warning h-50 d-flex align-items-center"> -->
  <!--     <h2>Message from Child: {{ receivedData }}</h2> -->
  <!-- </div> -->
  <!-- <hr> -->

  <!-- <div class="container-fluid bg-success h-50 d-flex align-items-center">
    <app-lesson3 class="w-100" (outputCounter)="receiveDataFromBelow($event)"></app-lesson3>
  </div>
  <div class="container-fluid bg-warning h-50 d-flex align-items-center">
    <h2>Message from Child: {{ receivedData }}</h2>
  </div> -->
  
  <app-lesson4></app-lesson4>
</div>
